<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vmotors Go faster now</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bundles/vmotors/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/bundles/vmotors/css/shop-homepage.css" rel="stylesheet">
    <link href="/bundles/vmotors/css/search.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/app_dev.php">VMotors</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if not app.user %}
                    <li>
                        <a href="/app_dev.php/login">Login</a>
                    </li>
                    <li>
                        <a href="/app_dev.php/register">Register</a>
                    </li>
                    {% endif %}
                    {% if app.user %}
                   <li>
                        <a href="/app_dev.php/profile">My Account</a>
                    </li>
                    <li>
                        <a href="/app_dev.php/logout">Logout</a>
                    </li>
                    {% endif %}
                    <li>
                    <script> function getValue ()
                    {
                        var searchValue = document.getElementById("search").value;
                        window.location.href = "/app_dev.php/users/" +  searchValue;
                    }
                    </script>
                        <div id="searchbox">
                        <input id="search" type="text" placeholder="Find users">
                        <input id="submit" type="submit" value="ok" onclick="getValue()">
                        </div>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p class="lead">Engine size</p>
                <div class="list-group">
                    <a href="/app_dev.php/filter/{{ brand }}/50" class="list-group-item">50cc Bikes</a>
                    <a href="/app_dev.php/filter/{{ brand }}/125" class="list-group-item">125cc Bikes</a>
                    <a href="/app_dev.php/filter/{{ brand }}/125+" class="list-group-item">>125cc Bikes</a>
                </div>
                <p class="lead">Brand</p>
                <div class="list-group">
                    <a href="/app_dev.php/filter/aprilia/{{engine}}" class="list-group-item">Aprilia</a>
                    <a href="/app_dev.php/filter/kawasaki/{{engine}}" class="list-group-item">kawasaki</a>
                    <a href="/app_dev.php/filter/yamaha/{{engine}}" class="list-group-item">yamaha</a>
                </div>
                <div class="list-group">
                     <a href="/app_dev.php" class="list-group-item">Reset filters</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                {% for products in product %}
                                <li data-target="#carousel-example-generic" data-slide-to="{{loop.index}}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://www.gohero.nl/wp-content/uploads/2012/11/gopro.jpg" style="width: 800px; height: 300px" alt="">
                                </div>
                                {% for products in product %}
                                <div class="item">
                                    <img class="slide-image" src="{{ products.path }}" style="width: 800px; height: 300px" alt="">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>   
                <!-- faire show more dans la description -->
                {% for key in product %}
                <div class="col">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ key.path }}" style="height: 200px; width: 300px">
                            <div class="caption">
                                <h4 class="pull-right">{{ key.price }}€</h4>
                                <h4><a href="#">{{ key.name }}</a>
                                </h4>
                                <div>
                                    <p>{{ key.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; emammadz 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/bundles/vmotors/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bundles/vmotors/js/bootstrap.min.js"></script>

</body>

</html>
